# Gradle files
.gradle
build/

/.idea/*
!/.idea/encodings.xml
!/.idea/codeStyleSettings.xml

# Intellij
*.iml

# Local configuration file (sdk path, etc)
local.properties

.DS_Store

# Built application files
*.apk
*.ap_

# Keystore files
*.jks

# Execution traces
captures/
*.trace